
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: auto;
}

/*Primer contenedor principal  */


.first-container{
    background-color: #015239;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.navbar-first-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 15%;
    width: 100%;
    
}

.image-navbar-first-container{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1%;
    width: 50%;
    height: 100%;
}

.paragraph-navbar-first-container{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    color: #FFF;
    font-weight: 400;
    font-size: 3.125rem;
    font-family: 'Aladin';
    
}



.anchor-navbar-first-container{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    justify-content: center;
    padding-left: 5%;
    gap: 20%;
    
}


.anchor-navbar-first-container a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Amaranth';
    font-size: 1.25rem;
}

.button-navbar-first-container{
    display: flex;
    width: 30%;
    height: 40%;
    
    
    
}

.button-navbar-first-container button{
    width: 100%;
    border-radius: 8px;
    background: rgba(228, 250, 238, 0.08);
    color: #FFFFFF;
    font-size: 1.25rem;
    font-family: 'Amaranth';
}

.content-first-container{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;

}

.image-content-fisrt-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 25%;
    
}

.image-content-fisrt-container img{
    max-width: 100%;
}



.paragraph-content-first-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

.start-paragraph-content-first-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.start-paragraph-content-first-container h1{
    color: #FFF;
    font-weight: 400;
    font-size: 3.125rem;
    text-align: center;
    font-family: 'Aladin';

}

.start-paragraph-content-first-container p{
    color: #B8FFE1;
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center;
    font-family: 'Amaranth';
    width: 75%;
}

.start-paragraph-content-first-container button{
    margin: 2px;
    background-color: #7D56FC;
    color:#FFF;
    width: 20%;
    height: 10%;
    border-radius: 8px;
    font-family: 'Amaranth';
    font-weight: 400;
    font-size: 1.125rem;
}


.end-paragraph-content-first-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15%;
    width: 100%;
}

.images-end-paragraph-content-first-container{
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.text-end-paragraph-content-first-container{
    width: 55%;
    color: #E4FAEE;
    padding-left: 1%;
    font-size: 1.125rem;
    font-weight: 400s;
    font-family: 'Amaranth';
}

.image2-content-first-container{
    display: flex;
    width: 20%;
    padding-top: 8%;
    padding-left: 8%;
    justify-content: flex-end;
    
}

.image2-content-first-container img{
    max-width: 100%;
}


/* Segundo contenedor principal */

.footerFirt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-color: #113A2D;

}

.text-footerFirt-container{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end
}

.text-footerFirt-container p{
    color:#B8FFE1;
    font-weight: 400;
    font-size: 1.375rem;
    font-family: 'Amaranth';
}

.images-footerFirt-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 90%;
}


/* tercer contenedor principal*/

.third-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E4FAEE;
    height: 100vh;
    width: 100%;
}
.title-third-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.title-third-container h1{
    color: #113A2D;
    font-size: 3.125rem;
    font-weight: 400;
    padding-top: 2%;
    font-family: 'Aladin';

}

.buttons-third-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    height: 10%;
}


.anchors-third-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80% ;
}

.anchors-third-container a{
    width: 15%;
    color: #113A2D;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    font-family: 'Amaranth';
}

.button1-buttons-third-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #113A2D;
    color: #FFFFFF;
    border-radius: 10px;
    width: 15%;
    height: 60%;
    
}

.button1-buttons-third-container button{
    height: 50%;
    max-width: 70%;
    font-size: 1.25rem;
    font-family: 'Amaranth';
    cursor: pointer;

}


.cards-third-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 50%;
}

.card-third-container{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    width: 30%;
    height: 100%;
    border-radius: 1rem;
}

.text-card-third-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.text-card-third-container p{
    text-align:center;
}


.text2-card-third-container{
    display: flex;
    width: 80%;

}



.parrafo.card{
    font-size: 1.125rem;
    font-weight: 400;
    color: #113A2D;
    font-family: 'Amaranth';
}

.parrafo2-card{
    color: #113A2D;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Amaranth';
}
.parrafo3-card{
    color: #000000;
    font-size: 1.25rem;
    font-family: 'Amaranth';
}

.imagen-card{
    display: flex;
    justify-content: center;
    width: 100%;
}

.imagen-card img{
    min-width: 90%;
}

.button-end-third-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15%;
}

.button-end-third-container button{

    background-color:#113A2D;
    color: #FFFFFF;
    border-radius: 8px;
    width: 20%;
    height: 30%;
    font-weight: 400;
    font-size: 1.125rem;
    font-family: 'Amaranth';
}

/* Cuarto contenedor principal */

.fourth-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    height: 75vh;
    width: 100%;

}

.title-fourth-container{
    display: flex;
    align-items: center;
    height:25% ;
    text-align: center;
}

.title-fourth-container h2{
    color:  #113A2D;
    font-weight: 400;
    font-size: 3.125rem;
    font-family: 'Aladin';

}

.cards-fourth-container{
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 60%;
}

.card-fourth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 80%;
    padding-bottom: 10px;
}

.image-cards-fourth-container{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 40%;
}

.text-paragrapg-fourth-container{
    width: 75%;
    height: 20%;
}

.text-paragrapg-fourth-container p{
    color:#113A2D;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: 'Amaranth';
    text-align: center;
}

.text2-paragrapg-fourth-container{
    width: 75%;
    height: 25%;
    text-align: center;

}

.text2-paragrapg-fourth-container p{
    text-align: center;
    font-family: 'Amaranth';
    font-size: 0.875rem;
}




/* Quinto contenedor principal */

.fifth-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #113A2D;
    height: 50vh;
    width: 100%;
}

.image1-fifth-container{
    display: flex;
    width: 25%;
    height: 100%;

}

.text-fifth-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height:60%;
}
.title-text-fifth-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.title-text-fifth-container h2{
    color: #B8FFE1;
    font-family: 'Aladin';
    font-weight: 400;
    font-size: 3.125rem;

}

.title2-text-fifth-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.title2-text-fifth-container h3{
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Amaranth';
    font-size: 2rem;
}

.paragraph-text-fifth-container{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 30%;
}

.paragraph-text-fifth-container p{
    font-family: 'Amaranth';
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
}


.button-text-fifth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30%;
}
.button-text-fifth-container button{
    width: 30%;
    height: 50%;
    background-color: #7D56FC;
    color: #FFFFFF;
    border-radius: 8px;
    font-weight: 400;
    font-family: 'Amaranth';
    font-size: 1.125rem;

}

.image2-fifth-container{
    display: flex;
    justify-content: flex-end;
    width: 25%;
    height: 100%;

}
.image-fifth-container img{
    width: 90%;
}


/* Sexto contenedor */


.sixth-container{
    display: flex;

    background-color: #E4FAEE;
    width: 100%;
    height: 100vh;
}

.imagen1-sixth-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
    height: 100%;
    padding-top: 12%;
}
.imagen2-sixth-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10%;
    width: 15%;
    height: 100%;
}
.imagen3-sixth-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10%;
    width: 15%;
    height: 100%;
}
.imagen4-sixth-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 12%;
    width: 15%;
    height: 100%;
}
.logo-sixth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.logo-sixth-container h1{
    color: #015239;
    font-size: 3.75rem;
    font-family: 'Aladin';
    font-weight: 400;


}







/* Septimo contenedor principal */
.seventh-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #113A2D;
    width: 100%;
    height: 85vh;
}

.title-seventh-container h2{
    color: #FFFFFF ;
    font-weight: 400;
    font-size: 3.125rem;
    font-family: 'Aladin';

}

.paragraph-seventh-container a{
    color: #B8FFE1;
    font-weight: 400;
    font-size: 1.375rem;
    text-decoration: none;
    font-family: 'Amaranth';
}



.eighth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #08251C;
    height: 40vh;
    width: 100%;
}

.title-eighth-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    

}
.title-eighth-container p{
    font-size: 3.125rem;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 1%;
    font-family: 'Aladin';

}
.title-eighth-container img{
    max-height: 50%;
}

.buttons-eighth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 12px;
}

.content-buttons-eighth-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 90%;
    gap: 5%;
}

.anchors-eighth-container{
    display: flex;
    justify-content: space-evenly;
    width: 70%;

} 
.anchors-eighth-container a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem ;
    font-family: 'Amaranth';
}



.home-button-eighth-container{
    background-color: #113A2D;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 400;
    height: 50%;
    width: 20%;
    color: #FFFFFF;;
    font-family: 'Amaranth';
    
}

.advertising-eighth-container p{
    font-weight: 400;
    font-size: 1.25rem;
    color: #B8FFE1;
    font-family: 'Amaranth';
    

}