*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #fbe9e9;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
   
      
}

.second-container{
    
}

.navbar-container{
    height: 10%;
    
    background-color: #121269;
    color: #da1678;
    text-align:center;
    display:flex;
    
    

} 
.navbar-container a{
    margin: 15px;
    min-width: 10%;
    color: #da1678;
    font-weight:900;
    font-size: 1.2rem;;
    background-color:transparent;
    border: none;
    text-decoration: none;
    
    
}

.navbar-container a:hover{
    color:white;
    cursor: pointer;
    transition: color 0.8s;
}

.titles-container{
    width: 100%;
    padding: 10px;
    
}

.imgNav-container{
    width: 30%;
    background-color:#121269;
    background-image:url('/Mision/asset/logo.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;    
}







